
@model IEnumerable<Mortgage_Calculator.Models.AmortTable>

@{
    ViewBag.Title = "AmortChart";
}



@using Mortgage_Calculator.Models;



<h2>AmortChart</h2>


<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Payment No.</th>
        <th>Payment Amount</th>
        <th>Interest</th>
        <th>Principal</th>
        <th>Balance</th>

    </tr>
    @foreach (var d in Model)
    {
    <tr>
        <td>@d.PaymentNo</td>
        <td>@d.MonthlyPayAmount</td>
        <td>@d.interest</td>
        <td>@d.DeductedPrincipal</td>
        <td>@d.balance</td>

    </tr>
    }
</table>
