@{
    ViewBag.Title = "CalcForm";
}
@using Mortgage_Calculator.Models;


@model Mortgage_Calculator.Models.CalculationView

<div class="text-center">
    <h3 class="dark-grey-text mb-5"></h3>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3" style="border-radius:5px;background-color:#f2f2f2;padding:40px;">
        <form class="form-horizontal" action="/Home/Index" method="post">
        
            <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="M-amount">Mortgage Amount</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => (m.mortgageAmount), new { @Value = @Model.mortgageAmount, @required = "required" })
                      
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-labe"l for="Interest-rate">Interest Rate</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => (m.interestRate), new { @Value = @Model.interestRate, @required = "required" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="a-period">Amortization Period</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => (m.amortizationPeriod), new { @Value = @Model.amortizationPeriod, @required = "required" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Down-payment">Down Payment</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.downpayment)
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Extra-payment">
                        Extra Payment
                    </label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => m.extraPayment, htmlAttributes: new
                        {
                            @class = "form-control"
                        })
                    </div>
                    <div class="col-sm-3">
                        @Html.EnumDropDownListFor(m => m.extraPaymentOption, htmlAttributes:

                        new
                        {
                            @class = "form-control"
                        })
                    </div>

                </div>

                <button class="btn btn-primary">Calculate</button>
           
        </form>
</div>
</div>