@{
    ViewBag.Title = "Home Page";
}
@using Mortgage_Calculator.Models



    @Html.Partial("CalcForm", new CalculationView())
    @if (ViewBag.AmortCharts != null)
        {
        <div id="a_table">
            <div class="text-center">
                <h3 class="dark-grey-text mb-5"><strong>Amortization Table</strong></h3>
            </div>

            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Payment No.</th>
                        <th scope="col">Payment Amount</th>
                        <th scope="col">Interest</th>
                        <th scope="col">Principal</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Extra Payment</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in ViewBag.AmortCharts)

                    {
                        <tr>
                            <td>@d.PaymentNo</td>
                            <td>@d.MonthlyPayAmount</td>
                            <td>@d.interest</td>
                            <td>@d.DeductedPrincipal</td>
                            <td>@d.balance</td>
                            <td>@d.extraPayment</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    

            }
        
