@{
    ViewBag.Title = "Home Page";
}
@using Mortgage_Calculator.Models

@Html.Partial("CalcForm", new CalculationView())
@if (ViewBag.AmortCharts != null)
{
   
<div class="col-md-8 col-md-offset-2" id="a_table">

    <br />
    <br />
    <div class="text-center col-md-6">
        <label class="col-sm-10 col-form-label" for="Mon_amt">Monthly Installment Payment</label>
        <div class="col-sm-2">
            @ViewBag.AmortCharts[0].displayMAmount
        </div>

    </div>
    <br />
    <br />
    <table class="table table-bordered responsive-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Payment No.</th>
                <th scope="col">Payment Amount</th>
                <th scope="col">Interest</th>
                <th scope="col">Principal</th>
                <th scope="col">Balance</th>
                <th scope="col">Extra Payment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in ViewBag.AmortCharts)

            {
                <tr>
                    <td>@d.PaymentNo</td>
                    <td>@d.MonthlyPayAmount</td>
                    <td>@d.interest</td>
                    <td>@d.DeductedPrincipal</td>
                    <td>@d.balance</td>
                    <td>@d.extraPayment</td>
                </tr>
            }
        </tbody>
    </table>
</div>



}

